<!DOCTYPE html>
<html>

<head>
    <title>
        Tracker
    </title>
</head>

<body>
    <main>
        <div>
            <a href="{% url 'list_projects' %}">My recipes</a>
            <h1>
                My Projects
            </h1>
            {% if not project_list %}
            <p>
                You are not assigned to any projects
            </p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Number of tasks
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for projects in project_list %}
                    <tr>
                        <td>
                            {{ projects.name}}
                        </td>
                        <td>

                        </td>
                        {% endfor %}
                        {% endif %}
                </tbody>
            </table>
            <h2>
        </div>
    </main>
</body>

</html>