<!DOCTYPE html>
<html>

<head>
    <title>
        Tracker
    </title>
</head>

<body>
    <main>
        <div>
            <h1>
                {% project name %}
            </h1>
            <p>
                {% project description %}
            </p>
            <h2>
                Tasks
            </h2>
            {% if task in project %}
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Assignee
                        </th>
                        <th>
                            Start date
                        </th>
                        <th>
                            Due date
                        </th>
                        <th>
                            Is completed
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{task.name}}
                        </td>
                        <td>
                            {{assignee.username}}
                        </td>
                        <td>
                            {{task.start_date}}
                        </td>
                        <td>
                            {{task.due_date}}
                        </td>
                        <td>
                            {{ value|yesno:"yes,no" }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </main>

</body>

</html>